*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Figtree", serif;
}
body{
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.main-section{
   max-width: 400px;
    background: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 15px;
    border: 2px solid hsl(0, 0%, 42%);
    box-shadow: 6px 6px 0px hsl(0, 0%, 7%);
}
.image-section img{
    border-radius: 12px;
    width: 100%;
}
.description{
    margin-top: 20px;
}
.description h2{
    border: 2px solid hsl(47, 88%, 63%);
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
}
.description .quote{
    text-align: left;
    padding-top: 15px;
}
.description h1{
    text-align: left;
    padding-top: 15px;
    font-size: 18px;
}
.description p{
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    padding-top: 15px;
}
.author-info{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 15px;
}
.author-info img{
    width: 60px;
    padding-right: 18px;
}
.author-info p{
    font-weight: bold;
    font-size: 16px;
}
.attribution{
    position: absolute;
    bottom: 30px;
    font-size: 14px;
}
.attribution a{
    color: #578FCA;
    text-decoration: none;
}

/* Mobile View (375px) */
@media (max-width: 375px) {
    .main-container {
        max-width: 80%;
        padding: 15px;
    }
    
    .text-description h1 {
        font-size: 16px;
    }

    .text-description p {
        font-size: 13px;
    }
}

/* Desktop View (1440px) */
@media (min-width: 1440px) {
    .main-container {
        max-width: 400px;
        padding: 25px;
    }

    .text-description h1 {
        font-size: 20px;
    }

    .text-description p {
        font-size: 16px;
    }
}